= render partial: "layouts/header"
.rmbody
  .rmbody__contents
    .rmbody__contents__text
      %br
      楽天モバイルのAndroid
      %br
      (スタンダードモデル)
    = render partial: "rmobile/androids1"
    .rmbody__contents__text
      %br
      (ハイスペックモデル)
    = render partial: "rmobile/androids2"