.sbbody__contents__insidetwo
  .sbbody__contents__insidetwo__android
    .sbbody__contents__insidetwo__android__image
    .sbbody__contents__insidetwo__android__text
      = link_to "AQUOS R5G","#", class: 'sblink'
  .sbbody__contents__insidetwo__android
    .sbbody__contents__insidetwo__android__image
    .sbbody__contents__insidetwo__android__text
      = link_to "LG V60 ThinQ 5G","#", class: 'sblink'
  .sbbody__contents__insidetwo__android
    .sbbody__contents__insidetwo__android__image
    .sbbody__contents__insidetwo__android__text
      = link_to "ZTE Axon 10 Pro 5G","#", class: 'sblink'
  .sbbody__contents__insidetwo__android
    .sbbody__contents__insidetwo__android__image
    .sbbody__contents__insidetwo__android__text
      = link_to "OPPO Reno3 5G","#", class: 'sblink'