.sbbody__contents__inside
  .sbbody__contents__inside__android
    .sbbody__contents__inside__android__image
      = image_tag("sampleimage.png", class: "img")
    .sbbody__contents__inside__android__text
      = link_to "arrows U", "#", class: 'sblink'
  .sbbody__contents__inside__android
    .sbbody__contents__inside__android__image
      = image_tag("sampleimage.png", class: "img")
    .sbbody__contents__inside__android__text
      = link_to "AQUOS sense3 plus", "#", class: 'sblink'
