= render partial: "layouts/header"
.sbbody
  .sbbody__contents
    .sbbody__contents__text
      %br
      SoftBankのAndroid
      %br
      (スタンダードモデル)
    = render partial: "softbank/androids1"
    .sbbody__contents__text
      %br
      (ハイスペックモデル)
    = render partial: "softbank/androids2"
    .sbbody__contents__text
      %br
      (5G対応製品)
    = render partial: "softbank/androids3"