.body {
  background-color    : #f5f5f5;

  &__contents {
    height            : 1350px;
    &__main {
      background-color: #ffffff;
      &__image {
        margin        : 0 auto;
        .android-image {
          overflow    : hidden;
          width       : 400px;
          height      : 330px;
        }
      }
      &__title {
        height        : 50px;
        .device-name {
          font-size   : 20px;
          float       : left;
          margin      : 13px 0 0 30px;
        }
        .favorite {
          float       : right;
          margin      : 13px 30px 10px 0;
          .fas {
            color     : rgb(252, 252, 32);
          }
        }
      }
      &__text {
        &__index {
          font-size   : 14px;
          font-weight : bold;
          margin      : 20px;
          text-align  : left;
        }
        &__explain {
          margin      : 10px 10px 20px 20px;
          text-align  : left;
          word-wrap   :break-word;
          font-size   : 15px;
          .original {
            color: rgb(51, 150, 207);
          }
        }
      }
    }
  }
}