= render partial: "layouts/header"
.aubody
  .aubody__contents
    .aubody__contents__text
      %br
      auのAndroid
      %br
      (スタンダードモデル)
    = render partial: "au/androids1"
    .aubody__contents__text
      %br
      (ハイスペックモデル)
    = render partial: "au/androids2"
    .aubody__contents__text
      %br
      (5G対応製品)
    = render partial: "au/androids3"