= render partial: "layouts/header"
.docomobody
  .docomobody__contents
    .docomobody__contents__text
      %br
      docomoのAndroid
      %br
      (スタンダードモデル)
    = render partial: "docomo/androids1"
    .docomobody__contents__text
      %br
      (ハイスペックモデル)
    = render partial: "docomo/androids2"
    .docomobody__contents__text
      %br
      (5G対応製品)
    = render partial: "docomo/androids3"